<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<div class="container">
  <br>
  <div class="jumbotron">
    <h1>zander-rcon</h1>
    <p>Welcome to zander-rcon, the remote administration dashboard for Minecraft Servers.<br>You are required to login to be able to use full functionality.</p>
  </div>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-bug"></i></h1>
          <h4 class="card-title">Feature Here</h4>
          <p class="card-text">Feature explanation here.</p>
        </div>
        <div class="card-footer">
          <a href="/" class="btn btn-primary">Link Here</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-bug"></i></h1>
          <h4 class="card-title">Feature Here</h4>
          <p class="card-text">Feature explanation here.</p>
        </div>
        <div class="card-footer">
          <a href="/" class="btn btn-primary">Link Here</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-bug"></i></h1>
          <h4 class="card-title">Feature Here</h4>
          <p class="card-text">Feature explanation here.</p>
        </div>
        <div class="card-footer">
          <a href="/" class="btn btn-primary">Link Here</a>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("./partials/footer.ejs") %>
